.G6_h5Game {
  background-color: var(--Dark-Dark--80, #273343);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.level-heading {
  width: 40vw;
  height: 2.375rem;
  height: 4.8vh;
  flex-shrink: 0;
  border-radius: 2.8125rem;
  background: rgba(0, 0, 0, 0.23);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8vh;
}

.level-heading span {
  color: #ffc700;
  text-align: center;
  font-family: "Pilat Extended";
  /* font-size: 1.25rem; */
  font-size: 2.5vh;
  font-style: normal;
  font-weight: 700;
  line-height: 123%;
  text-transform: capitalize;
}

.level_word_container_G6 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4vh;
  margin-bottom: 20%;
}

.guess-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
}

.guess-input-container {
  margin-top: 5%;
}

.guess-input {
  width: 8vw;
  height: 8vw;
  text-align: center;
  margin: 0 .5vw;
}

.game-complete-message {
  font-size: 1.2em;
  color: green;
}
